@model EmployeeViewModel
@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName} details";
}

<h1 class="text-primary mb-3">@ViewData["Title"]</h1>

<div class="mb-3 btn-group" role="group">
    <a asp-action="Update" asp-route-employeeId="@Model.EmployeeId" class="btn btn-outline-primary">Update</a>
    <a asp-action="Index" class="btn btn-outline-secondary">All Employees</a>
    
</div>

<hr />

<div class="card shadow-sm">
    <div class="card-body p-0">
        <table class="table table-bordered m-0">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@Model.FirstName @Model.LastName</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Salary (₦)</th>
                    <td>@Model.Salary</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>@Model.DepartmentName</td>
                </tr>
                <tr>
                    <th>Hire Date</th>
                    <td>@Model.HireDate</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
