@model EmployeesViewModel
@{
    ViewData["Title"] = "Employees";
}

<h1>@ViewData["Title"]</h1>

<a asp-controller="Employee" asp-action="Create" asp-route-departmentId="@Model.DepartmentId" class="btn btn-outline-success">Create New Employee</a>
<a asp-controller="Department" asp-action="Index" class="btn btn-outline-info">Back to departments</a>
<hr>

@if (Model is null)
{
    <p class="text-danger">No records available!</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item."</td>
                    <td>@item.Email</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="" asp-route-id="" class="btn btn-outline-primary btn-sm">View</a>
                            <a asp-action="" asp-route-id="" class="btn btn-outline-secondary btn-sm">Edit</a>
                            <form asp-action="Delete" asp-route-id="" method="post"
                                  onsubmit="return confirm('Are you sure?');">
                                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </td>
                    
                </tr>
            }
        </tbody>

    </table>
}
