@model DepartmentViewModel
@{
    ViewData["Title"] = $"{Model.Name} details";
}

<h1 class="text-primary mb-3">@ViewData["Title"]</h1>
<hr />

<a asp-controller="Employee" asp-route-departmentId="@Model.Id" asp-action="Create" class="btn btn-outline-primary mb-3">Add Employee</a>

@if (Model.Employees is not null && Model.Employees.Any())
{
    <div class="card shadow-sm">
        <div class="card-body p-0">
            <table class="table table-hover m-0">
                <thead class="table-primary">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Salary (₦)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employees in Model.Employees)
                    {
                        <tr>
                            <td>@employees.FirstName @employees.LastName</td>
                            <td>@employees.Email</td>
                            <td>@employees.Salary</td>
                            <td>
                                <a asp-controller="Employee" asp-action="Detail" asp-route-employeeId="@employees.EmployeeId" class="btn btn-outline-primary btn-sm">View</a>
                                <form asp-controller="Employee" asp-action="Delete" asp-route-employeeId="@employees.EmployeeId" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this employee?');">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p class="text-info">No employees available in this department.</p>
}
