@model DepartmentViewModel
@{
    ViewData["Title"] = $"{Model.Name} details";
}
<h1>@ViewData["Title"]</h1>
<hr />
<a asp-controller="Employee" asp-route-departmentId="@Model.Id" asp-action="Create" class="btn btn-primary">Add Employee</a>

@if (Model.Employees is not null && Model.Employees.Any())
{
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Salary (₦)</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var employees in Model.Employees)
            {
                <tr>
                    <td>@employees.FirstName @employees.LastName</td>
                    <td>@employees.Email</td>
                    <td>@employees.Salary</td>
                    <td><a asp-controller="Employee" asp-action="Detail" asp-route-employeeId="@employees.EmployeeId" class="btn btn-outline-primary">View Employee</a></td>
                </tr>
            }
            @* <a asp-action="Edit" class="btn btn-primary">Edit</a>
            <a asp-controller="Employee" asp-route-id="@Model.Id" asp-action="Create" class="btn btn-primary">Add Employee</a> *@
    </table>
}
else
{
    <p class="text-info">No employees available in this department</p>
}