@model DepartmentsViewModel
@{
    ViewData["Title"] = "Departments";
}


<h1 class="text-primary mb-4">@ViewData["Title"]</h1>

<a asp-action="Create" class="btn btn-outline-primary mb-3">Create New Department</a>
<hr />

@if (Model is null)
{
    <p class="text-danger">No records available!</p>
}
else
{
    <div class="card shadow-sm">
        <div class="card-body p-0">
            <table class="table table-hover m-0">
                <thead class="table-primary">
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var department in Model.Departments)
                    {
                        <tr>
                            <td>@department.Name</td>
                            <td>
                                <div class="btn-group">
                                    <a asp-action="Detail" asp-route-departmentId="@department.Id" class="btn btn-outline-primary btn-sm">Detail</a>
                                    <a asp-action="Edit" asp-route-id="@department.Id" class="btn btn-outline-secondary btn-sm">Edit</a>
                                    <form asp-action="Delete" asp-route-id="@department.Id" method="post" onsubmit="return confirm('Are you sure?');">
                                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                    </form>
                                </div>
                            </td>
                            <td>@department.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
